{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5" role="banner">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Browse books</h1>
        </div>
    </div>
</header>

<!-- Search Bar -->
<div class="container my-4">
    <form role="search" aria-label="Book Search">
        <label for="search-bar" class="form-label">Search for books:</label>
        <input type="text" id="search-bar" class="form-control" placeholder="Search for books..." aria-required="true">
    </form>
</div>

<!-- Section-->
<main class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="book-list">
            <!-- placeholder for ajax results -->
        </div>
    </div>
</main>

<script>
    document.getElementById('search-bar').addEventListener('keyup', function() {
        const query = this.value;

        if (query.length > 0) {
            fetch(`/search/?q=${query}`)
                .then(response => response.json())
                .then(data => {
                    const resultsContainer = document.getElementById('book-list');
                    resultsContainer.innerHTML = '';

                    data.books.forEach(book => {
                        const bookDiv = document.createElement('div');
                        console.log(book.image.url);
                        bookDiv.classList.add('col', 'mb-5');
                        bookDiv.innerHTML = `
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="${book.image}" alt="${ book.title } image" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">${ book.title }</h5>
                                        <!-- Product price-->
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <a class="btn btn-outline-dark mt-auto" href="/books/${book.id}/">View details</a>
                                    </div>
                                </div>
                            </div>
                        `;
                        resultsContainer.appendChild(bookDiv);
                    });
                });
        } else {
            document.getElementById('search-results').innerHTML = '';
        }
    });
</script>
{% endblock %}
