{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="vh-100" style="background: linear-gradient(to right, #457fca, #5691c8)">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="{% static 'assets/library.jpg'%}"
                              alt="library photo" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                          </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form method="POST" action="{% url 'register' %}">
                                    {% csrf_token %}

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create your account</h5>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" id="username" name="username" class="form-control form-control-lg" required />
                                        <label class="form-label" for="username">Username</label>
                                        {% if form.username.errors %}
                                            <div class="text-danger">
                                                {{ form.username.errors.0 }}
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="password" id="password1" name="password1" class="form-control form-control-lg" required />
                                        <label class="form-label" for="password1">Password</label>
                                        {% if form.password1.errors %}
                                            <div class="text-danger">
                                                {{ form.password1.errors.0 }}
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="password" id="password2" name="password2" class="form-control form-control-lg" required />
                                        <label class="form-label" for="password2">Confirm Password</label>
                                        {% if form.password2.errors %}
                                            <div class="text-danger">
                                                {{ form.password2.errors.0 }}
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" type="submit">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
